<form action="" [formGroup]="movieForm" (ngSubmit)="onSubmit()"  #myForm="ngForm">

  <label for="id-movie" formGroupName="idTitle">
    Identifiant du film:<input type="text" formControlName="idMovie">
  </label>
  <label for="title-movie" formGroupName="idTitle">
    Titre du film:<input type="text" formControlName="titleMovie">
  </label>

  <p *ngIf="myForm.submitted" class="validator">{{ movieForm.get('idTitle')?.errors?.['missingInput'].rules }}</p >

  <fieldset>
    <legend>Choisissez votre catégorie</legend>

    <div>
      <input type="radio" id="film" name="type" value="film" formControlName="type">
      <label for="film">Film</label>
    </div>

    <div>
      <input type="radio" id="serie" name="type" value="serie" formControlName="type">
      <label for="serie">Série</label>
    </div>

    <div>
      <input type="radio" id="episode" name="type" value="episode" formControlName="type">
      <label for="episode">Episode</label>
    </div>
  </fieldset>

  <label for="release">
    Année de sortie:<input type="number" formControlName="release">
    <p *ngIf="myForm.submitted" class="validator">{{ movieForm.get('release')?.errors?.['badYears'].rules }}  </p>
  </label>

  <div>
    <input type="radio" id="complete" name="fiche" value="complete" formControlName="fiche">
    <label for="complete">Complète</label>

    <input type="radio" id="courte" name="fiche" value="courte" formControlName="fiche">
    <label for="courte">Courte</label>
  </div>
  <button type="submit" (click)="onSubmit()">Valider</button>
</form>
