<form action="" [formGroup]="movieForm">
  <label for="id-movie" formGroupName="idTitle">
    Identifiant du film:<input type="text" formControlName="idMovie">
    <p>{{ movieForm.get('idTitle.idMovie')?.errors?.['idMovie'].rules }}</p>
  </label>
  <label for="title-movie" formGroupName="idTitle">
    Titre du film:<input type="text" formControlName="titleMovie">
    <p>{{ movieForm.get('idTitle.idTitle')?.errors?.['idTitle'].rules }}</p>
  </label>
  <fieldset>
    <legend>Choisissez votre catégorie</legend>

    <div>
      <input type="radio" id="film" name="type" value="film" formControlName="type">
      <label for="film">Film</label>
    </div>

    <div>
      <input type="radio" id="serie" name="type" value="serie" formControlName="type">
      <label for="serie">Série</label>
    </div>

    <div>
      <input type="radio" id="episode" name="type" value="episode" formControlName="type">
      <label for="episode">Episode</label>
    </div>
  </fieldset>
  <label for="release">
    Année de sortie:<input type="number" formControlName="release">
  </label>
  <div>
    <input type="radio" id="complete" name="fiche" value="complete" formControlName="fiche">
    <label for="complete">Complète</label>

    <input type="radio" id="courte" name="fiche" value="courte" formControlName="fiche">
    <label for="courte">Courte</label>
  </div>
  <button type="submit" (click)="onSubmit()">Valider</button>
</form>
